<title>Image compressor</title>
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">

<h2>Image Compressor (for jpeg and png)</h2>
<form method="post" action="/" enctype="multipart/form-data">
    <input type="file" accept=".png, .jpeg" name="image"/>
    <input type="submit" value="Upload"/>
</form>
</div>
